<!DOCTYPE html>
<html>
<head>
    <title>PEOPLE</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/loginstyle.css">
</head>
<body>
    <h2>Login Page</h2><br>
    <div class="login">
    <form id="login" method="get"
        <label><b>User Name
        </b>
        </label>
        <input type="text" name="Uname" id="Uname" placeholder="Username">
        <br><br>
        <label><b>Password
        </b>
        </label>
        <input type="Password" name="Pass" id="Pass" placeholder="Password">
        <br><br>
        <a href="/ppl"><button  type="button" class="btn btn-success btn-lg btn-block">Log In Here</button></a>
        <br><br>
           <a href="/ppl"><button  type="button" class="btn btn-danger ">Forget Password</button></a>
    </form>
</div>
</body>
</html>
